<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394446248547-3diu6h2tbqoce1orbm9oqksngk1edomn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394446248547-3diu6h2tbqoce1orbm9oqksngk1edomn</string>
	<key>API_KEY</key>
	<string>AIzaSyAL-j-uN7ZpyHRWc8tLzYaQlV9xXEovCfM</string>
	<key>GCM_SENDER_ID</key>
	<string>394446248547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kurking.Chat2chat-objc</string>
	<key>PROJECT_ID</key>
	<string>chat2chat-a4a8d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat2chat-a4a8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394446248547:ios:e0b850a87bc928254cb656</string>
</dict>
</plist>